@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(238, 235, 235);
}
#root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.container {
  margin: 10px;
  position: relative;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.container .form {
  padding: 30px;
  background-color: rgb(255, 255, 255);
}
/* titulo */
.forms-title-logo {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 10px;
  color: #5a017a;
}

.forms-title-logo img {
  width: 40px;
  height: auto;
}

/* boton google */
.button-google {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #2223;
  box-shadow: 0px 5px 5px -4px rgba(0, 0, 0, 0.61);
  background-color: #eee;
  cursor: pointer;
}

.button-google img {
  width: 20px;
  margin-right: 5px;
}

.continue-email {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 15px;
}
.continue-email p {
  margin: 0 5px;
  font-size: 14px;
  flex-shrink: 0;
}

.continue-email::before {
  display: inline-block;
  content: '';
  width: 40%;
  height: 2px;
  background-color: #2223;
}
.continue-email::after {
  display: inline-block;
  content: '';
  width: 40%;
  height: 2px;
  background-color: #2223;
}
.container.active .login {
  display: none;
}

.container .signup {
  display: none;
}
.container.active .signup {
  display: block;
  padding-top: 20px;
}

.title {
  color: #5a5a5a;
}

.container .form .title {
  position: relative;
  /* font-size: 27px; */
  font-weight: 600;
}

.form .title::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 25px;
}

.form .input-field {
  position: relative;
  height: 40px;
  width: 100%;
  margin-top: 15px;
}

.input-field input {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0 35px;
  border: none;
  outline: none;
  font-size: 16px;
  border-bottom: 2px solid rgb(139, 139, 139);
  border-top: 2px solid transparent;
  transition: all 0.2s ease;
}

.checkbox-content input {
  margin: 5px 10px 5px 5px;
  accent-color: #493fe0;
}

.messageError i,
.messageErrorValidation i {
  margin: 4px;
}

.input-field input:is(:focus, :valid) {
  color: rgb(0, 0, 0);
}

.input-field i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #662e7ad3;
  font-size: 20px;
  transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid) ~ i {
  color: #9d82cf;
}

.input-field i.icon {
  left: 0;
}
.input-field i.showHidePw {
  right: 0;
  cursor: pointer;
  padding: 10px;
}

.form .checkbox-text {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  text-align: center;
}

.checkbox-text .checkbox-content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-shrink: 0;
}

.form .text {
  color: #000000;
  font-size: 14px;
  margin-right: 7px;
}

.form a.text {
  color: #6794d8;
  text-decoration: none;
}
.form a:hover {
  text-decoration: underline;
}

.form .button {
  margin-top: 35px;
}

.form .button input {
  border: none;
  color: rgb(255, 255, 255);
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 1px;
  border-radius: 6px;
  background: #0e9dd9;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button input:hover {
  background-color: #3a77bd;
  color: #fff;
}

.form .login-signup {
  cursor: pointer;
  margin-top: 30px;
  text-align: center;
}
.login-signup .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

/* **************************************************************+++ */
/* errores */
.messageError,
.messageErrorValidation {
  color: #f73e3e;
  font-size: 14px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.none {
  display: none;
}
.messageErrorValidation.active-pattern {
  display: flex;
}
/* **************************************************************+++ */
@media screen and (min-width: 400px) {
  .login-signup .text {
    flex-direction: row;
  }
}
